<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HeadView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BB0264A11E711C7F00FD4209</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB0264BA1E711C8000FD4209</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB0264C51E711C8000FD4209</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
