<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KMProgressViewDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BB36BBEA1DADC6E1000797E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB36BC031DADC6E2000797E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB36BC0E1DADC6E2000797E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
